body{
  font-family: cursive;
  align-content: center;
  padding: 0;
  margin: auto;
  background-color: white;
  color: black;
  padding-left: 2%;
  align-items: center;
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
}
h1{
  width: inherit;
  padding-left: 50px;
  text-align: justify;
}
form{
  align-content: center;
  height: 400px;
  width: 400px;
  padding: 50px;
  padding-right: 50px;
  background-color: black;
  color: white;
}
p{
  font-family: cursive;
  padding-left: 2%;
  color: inherit;
  font-size: 50px;
}
