#func_Body h1{
  font-family: inherit;
  font-weight: bold;
  font-size: 50px;
  float: left;
  padding bottom: 20px;
  clear: both;
}
#func_Body h2{
  font-size: 40px;
  font-family: inherit;
  float: left;
  padding-left: 2%;
  padding-bottom: 10px;
  clear: both;
}
#func_Body p{
  font-family: inherit;
  font-size: 30px;
  line-height: 40px;
  float: left;
  padding-left: 4%;
  padding-bottom: 10px;
  clear: both;
}
#func_Body p a{
  text-decoration: none;
}
#func_Body p a:hover{
  color: #0061ff;
  text-decoration: inherit;
}
#func_Body ul{
  font-size: 30px;
  padding-left: 6%;
  padding-bottom: 10px;
  clear: both;
}
#func_Body ul li{
  font-size: inherit;
  padding-left: inherit;
  line-height: 40px;
}
#func_Body ul li a{
  text-decoration: none;
  color: inherit;
}
#func_Body ul li a:hover{
  color: #0061ff;
}
