.intro{
  text-align: center;
  align-items: center;
}
.intro p{
  font-size: 20px;
  font-family: inherit;
  clear: both;
  color: inherit;
  line-height: 30px;
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
}
.intro h1{
  font-family: inherit;
  clear: both;
  font-size: 40px;
  width: 20%;
  padding-left: 40%;
  padding-right: 40%;
}
