<!doctype html>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <title>PC Store</title>
</head>

<body>
  <nav>
    <a href="{{ url_for('home') }}" class="header" style="float: left;">Home</a>&nbsp|
    <a href="{{ url_for('about') }}" class="header"style="float: left;">About</a>&nbsp|
    <a href="{{ url_for('shop') }}" class="header"style="float: left;">Shop</a>
    {% if current_user.is_authenticated %}
    Hello, {{ current_user.username }}!
    <a class="nav-item nav-link" href="{{ url_for('logout') }}" style="float: right;">Logout</a>&nbsp|
    {% else %}
    Welcome, Guest &nbsp| <a href="{{ url_for('login') }}" style="float: right;">Login&nbsp;</a>
    or <a href="{{ url_for('sign_up') }}" style="float: right;">Sign Up</a>&nbsp|
    {% endif %}
  </nav>

  <section class="image">

  </section>

  <section id="content">
    {% block content %}
    {% endblock %}
  </section>
  <section class="footer">
    <p><strong>© 2k18 Rhys Connor</strong><br>
       Insta: <a href="https://www.instagram.com/rhys.connor/?hl=en">@rhys.connor</a> <br>
       Facebook: <a href="https://www.facebook.com/rhyskconnor99">Rhys Connor</a><br>
       LinkedIn: <a href="https://www.linkedin.com/in/rhys-c-7b206b128">Rhys Connor</a>
    </p>
  </section>
  <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
  </div>
</body>
</html>
